
body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(websitebg.jpg);

}
.boquetcontainer{
    background-image:url(boquet.png);
}
#yesbutton,#nobutton{
    background-color: rgb(214, 113, 215);
    border-radius: 40px;
    
    /* font-family: "Great Times", "Segoe Print", cursive; */
    
    font-family: 'Quicksand', sans-serif;
   
    font-weight: 700;
    font-size: 18px;
    padding: 11px 39px;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s;
    
}
button:active{
    transform: scale(0.95);
}
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

}
.container{
    display:flex;
    gap:67px;
}
.question{
    margin-bottom: 80px;
    font-family: 'Dancing Script', cursive;
}
.question h2{
font-size: clamp(24px, 6vw, 45px);
margin: 0;}

#nobutton.burst {
    animation: burst 0.4s ease-out;
}
@keyframes burst{
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
#res{
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    box-sizing:border-box;
}
#yay{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    
}